.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(30, 30, 49, 0.417);
}

.modal {
  background-color: white;
  min-width: 760px;
  max-width: 1024px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 20px 30px;
  margin: 0 auto;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 20px;
}
